<div class="home-page">

  <div class="banner">
    <div class="container">
      <h1 class="logo-font">Meli's Blog</h1>
      <p>Bienvenidos al Blog de <i>Meli</i></p>
    </div>
  </div>
  
  <div class="container page">
    <div class="row">

      <div class="col-md-9 p-0">
        <div class="feed-toggle">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item">
              <a class="nav-link">
                  Tus Publicaciones
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link">
                  Feed
              </a>
            </li>
          </ul>
        </div>

      </div>

    </div>
  </div>
</div>
<app-posts></app-posts>